$background-color: #2e2e2e;
$second-background-color: #1c1c1c;
$text-color: #fdfdfd;

@font-face {
	font-family: 'Montserrat';
	src: url('~@/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

.d-flex {
    display: flex;
}

.w-100 {
	width: 100%;
}

.btn-primary {
	margin: 1vh 1vh 1vh 0vh;
	padding: 1vh 2vh;
	background: orangered;
	color: white;
	border: 0;
	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat, Avenir, Helvetica, Arial, sans-serif;

	&::selection {
		color: black;
		background-color: orange;
	}
}