$background-color: #2e2e2e;
$second-background-color: #1c1c1c;
$text-color: #fdfdfd;


.d-flex {
    display: flex;
}

.btn-primary {
	margin: 1vh 1vh 1vh 0vh;
	padding: 1vh 2vh;
	background: orangered;
	cursor: pointer;
}